@import "../../base.scss";

.seremony {
  padding-bottom: 300px;
  p {
    margin-top: 19px;
    margin-bottom: 12px;
  }

  h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin-bottom: 40px;
  }

  .first_card {
    display: flex;
    align-items: center;
    column-gap: 30px;
    background: #f7941d;
    opacity: 0.6;
    border-radius: 20px;
    padding: 28px 38px 23px 42px;
    margin-bottom: 20px;

    .first {
      b {
        display: block;
        font-size: 70px;
      }
      p {
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 2px;
        margin: 0;
      }
    }

    .second {
      h5 {
        font-weight: 500;
        font-size: 36px;
        line-height: 26px;
        color: #000000;
        margin-bottom: 29px;
      }

      p {
        width: 700px;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #333333;
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
      width: 222.45px;
      height: 60px;
      border: 2px solid #000000;
      border-radius: 10px;
      background-color: transparent;
    }
  }

  .card_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    .card_list_item {
      width: 380px;
      padding: 27px 31px 38px 27px;
      border-radius: 20px;
      background: #c7eeff;

      &:nth-child(2) {
        background: #ffce94;
      }

      &:nth-child(3) {
        background: #ddddff;
      }

      &:nth-child(5) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 47px 31px 60px 27px;
        background-image: url("../../assets/iboyblur.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;

        .card_top {
          h4 {
            color: #fff;
          }
        }

        p {
          width: 250px;
          color: #fff;
          text-align: center;
        }
      }

      &:nth-child(7) {
        background: #ffeef6;
      }

      &:nth-child(4) {
        width: 780px;
        display: flex;
        align-items: center;
        column-gap: 20px;
        background: #ddddff;
        padding: 0;
      }

      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #4f4f4f;
        margin-bottom: 16px;
      }
      .card_top {
        display: flex;
        align-items: center;
        column-gap: 24px;
        margin-bottom: 12px;

        h4 {
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #00093c;
        }
      }

      .desc {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 25px;
        color: #4f4f4f;
      }
      .duration {
        margin: 0;
      }
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .seremony {
    padding-bottom: 600px;

    .first_card {
      flex-direction: column;
      .second {
        h5 {
          width: 105%;
          text-align: center;
        }

        p {
          width: 100%;
          text-align: center;
        }
      }
    }

    .card_list {
      .card_list_item {
        width: 100%;

        &:nth-child(4) {
          flex-direction: column;
          padding: 0;
          .iboy {
            width: 100%;
            border-top-right-radius: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .seremony{
    padding-bottom: 700px;
  }
}